body {
    font-family: 'Lato', sans-serif;
}

.menuLabel {
    color: red;
}


.nav-link i {
    font-size: 24px;
    color: white;
    display: block;
}


.nav-link.active {
    background-color: white;
    color: red !important;
}


.sidePanel {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 85px;
    height: 100%;
    padding: 0;
}

.panelLogo {
    text-align: center;
    padding: 0;
}

.nav-link {
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 14px;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.sidePanel a {
    color: inherit !important;
    text-decoration: none !important;
}

.sidePanel a:hover {
    color: inherit;
}

.card a {
    color: inherit !important;
    text-decoration: none !important;
}

.card a:hover {
    text-decoration: underline !important;
    text-decoration-color: red !important;
}

.activeIcon {
    color: #b6b7b9 !important;
}

.passiveIcon {
    color: #ff0000 !important;
}

.contentArea {
    margin-left: 95px;
    padding-top: 20px;
}

.topArea {
    display: flex;
    align-items: center;
}

.menuIconArea {
    color: red;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.profile-name {
    font-size: 18px;
    color: black;
    margin-left: 25px;
}

.leftNavArea {
    width: 125px;
    background-color: white;
    color: red;
    padding: 0;
}

.leftNavArea ul {
    list-style-type: none;
    padding: 0;
}

.leftNavArea ul li {
    margin: 0;
    padding-top: 15px;
}

.leftNavArea ul li a {
    text-decoration: none;
    color: red;
    font-size: 16px;
    padding-left: 10px;
    display: block;
}

.leftNavArea ul li.selected a {
    color: black !important;
    border-left: 2px solid black;
    padding-left: 8px;
}

.rightArea {
    margin-left: 100px;
}

.editArea {
    width: 700px;
}

@media (max-width: 1300px) {
    .leftNavArea {
        display: none;
    }

    .right-content {
        margin-left: 0;
    }

    .sidebar {
        display: none;
    }
}