body {
    font-family: 'Lato', sans-serif !important;
}

.rightArea .color-change {
    color: black;
    background-color: #e2e3e5;
}

.icon-space {
    margin-right: 20px;
}

.icon-space2 {
    margin-right: 10px;
}

.icon-space3 {
    margin-right: 30px;
}

.icon-space4 {
    margin-right: 2px;
}

.list-group-item {
    margin-top: 30px !important;
}

.ellipse-color {
    color: #717172 !important;
}

.dropdown-content.open {
    display: block;
    margin-top: 360px;
}

.dropdown-content {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.dropdown-content-2.open {
    display: block;
    margin-top: 660px;
}

.dropdown-content-2 {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.far-right-content {
    width: 240px;
    margin-left: 30px;
    float: right;
}

.rcontent{
    display: flex;
    flex-grow: 1;
}

.icon-cell .fa-circle {
    color: red;
}

.rcontent .icon-cell,
.text-cell {
    display: table-cell;
}

.todo {
    margin-top: 15px;
}

.todo-hr {
    margin: revert;
    color: 
    black !important;
}

.grade-info {
    position: relative;
    width: 220px;
}

.table>:not(caption)>*>* {
    padding: 0.2rem 0.2rem !important;
}

.grade-info .close-icon {
    position: absolute;
    margin-left: 205px;
    color: #333;
    float: right;
}

.grade {
    color: red !important;
}

.grade-small {
    font-size: small !important;
    color: #999999;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-icon-text {
    display: flex;
    align-items: center;
    font-size: revert;
}

.view-calendar {
    color: red !important;
    font-size: small !important;
}

.calendar-icon-text i {
    margin-right: 5px;
}

.cal-icon-cell,
.cal-text-cell {
    display: table-cell;
}

.cal-row {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.cal-icon {
    margin-right: 10px;
}

.contentArea .row{
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 1500px) {
    .rcontent .far-right-content {
        display: none !important;
    }
    .rcontent .midArea{
        width: 100%
    }
}

@media (max-width: 1444px) {
    .rcontent .far-right-content {
        display: none !important;
    }
}

@media (max-width: 1125px) {
    .rcontent .far-right-content {
        display: none !important;
    }
    
    .leftNavArea{
        display: none !important;
    }
}

@media (max-width: 958px) {
    .rcontent .far-right-content {
        display: none !important;
    }
    
    .sidePanel, .leftNavArea{
        display: none !important;
    }

    .contentArea{
        margin-left: 0px !important;
    }
}


/*
@media (max-width: 1298px) {
    .far-rightArea {
        display: none;
    }

    .rightArea {
        margin-left: 20px !important;
    }
}

@media (min-width: 925px) and (max-width: 1298px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
    }

    .second-div {
        flex: 1;
    }
}

@media (max-width: 924px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
    }

    .second-div {
        flex: 1;
    }

    .leftNavArea {
        display: none !important;
    }

    .rightArea {
        margin: 10px;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .sidePanel {
        display: none !important;
    }

    .rightArea {
        margin: 10px;
        width: calc(100%-20px);
    }

    .contentArea {
        margin-left: 0px !important;
        padding-top: 0px !important;
    }

    .nav-hr {
        display: none !important;
    }

    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-top: var(--bs-gutter-y);
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }
} */