body {
    font-family: 'Lato', sans-serif !important;
}

.courses .contentArea {
    margin-left: 85px;
    padding-top: 0px;
    width: 95% !important;
}

.courses .topArea {
    width: 100%;
}

.courses .rightArea {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    ;
}

.menuIconArea {
    color: red;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.profileNameArea {
    font-size: 18px;
    color: black;
    margin-left: 25px;
}

.profileNameArea .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.profileNameArea .breadcrumb-item:last-of-type::before {
    content: ">";
}

.profileNameArea .nav-link i {
    font-size: 24px;
    color: white;
    display: block;
}

.profileNameArea .nav-link.active {
    background-color: white;
    color: red !important;
}

.activeIcon {
    color: #b6b7b9;
}

.passiveIcon {
    color: red;
    text-decoration: none;
}

.icon {
    float: right;
    padding-top: 7px;
}

.icon-space2 {
    margin-right: 10px;
}

.topArea .color-change {
    color: black;
    background-color: #e2e3e5;
}

.courses .innerArea {
    margin-top: 85px;
    margin-left: 10px;
}

.courseLink {
    color: red;
    text-decoration: none;
    transition: text-decoration 0.2s;
    padding-bottom: 10px !important;
}

.courseLink:hover {
    text-decoration: underline !important;
}