body {
    font-family: 'Lato', sans-serif !important;
}

.courses .contentArea {
    margin-left: 85px;
    padding-top: 0px;
}

.courses .topArea {
    display: flex;
    align-items: left;
}

.courses .rightArea {
    margin-left: 0px;
}

.menuIconArea {
    color: red;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.profileNameArea {
    font-size: 18px;
    color: black;
    margin-left: 25px;
}

.profileNameArea .breadcrumb-item+.breadcrumb-item::before {
    content: "/";
}

.profileNameArea .breadcrumb-item:last-of-type::before {
    content: "";
}

.profileNameArea .nav-link i {
    font-size: 24px;
    color: white;
    display: block;
}

.profileNameArea .nav-link.active {
    background-color: white;
    color: red !important;
}

.activeIcon {
    color: #b6b7b9;
}

.passiveIcon {
    color: red;
    text-decoration: none;
}

.icon{
    float: right;
    padding-top: 7px;
}

.row .leftNavArea {
    width: 190px;
    background-color: white;
    color: red;
    padding: 0;
}

.leftNavArea ul {
    list-style-type: none;
    padding: 0;
}

.leftNavArea ul li {
    margin: 0;
    padding-top: 15px;
}

.leftNavArea ul li a {
    text-decoration: none;
    color: red;
    font-size: 16px;
    padding-left: 10px;
    display: block;
}

.leftNavArea .selected{
    color: black !important;
    border-left: 2px solid black;
    padding-left: 8px;
}





